#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d > #backgroundBox {
  position: absolute;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Image_1 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Image_1 {
  box-shadow: none;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Image_2 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Image_2 {
  box-shadow: none;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Input_1 {
  position: absolute;
  width: 13.60000000000006%;
  height: 39.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Input_1 {
  box-shadow: none;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 13.0pt;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 700;
  min-height: 13.0pt;
  text-shadow: none;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Input_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Rectangle_1 {
  position: absolute;
  width: 375.0000000000002px;
  min-height: 64.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Rectangle_1 {
  box-shadow: none;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #EFEFEF;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Rectangle_2 {
  position: absolute;
  width: 320.11614221904864px;
  min-height: 171.6585365853657px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Rectangle_2 {
  box-shadow: none;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Rectangle_2 > .backgroundLayer {
  border-radius: 25px 25px 25px 25px;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FD9727;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Rectangle_2 > .borderLayer {
  border-radius: 25px 25px 25px 25px;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Rectangle_2 > .backgroundLayer {
  border-radius: 25px 25px 25px 25px;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Rectangle_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Image_3 {
  position: absolute;
  width: 106.23668335944626px;
  height: 109.3292682926828px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Image_3 {
  box-shadow: none;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Image_3 > .backgroundLayer {
  border-radius: 53px 53px 53px 53px;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Image_3 > .borderLayer {
  border-radius: 53px 53px 53px 53px;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Image_3 > .backgroundLayer {
  border-radius: 53px 53px 53px 53px;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Paragraph_1 {
  box-shadow: none;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Paragraph_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Paragraph_1 span#rtr-s-Paragraph_1_1 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Paragraph_1 span#rtr-s-Paragraph_1_2 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Paragraph_1 span#rtr-s-Paragraph_1_3 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Image_4 {
  position: absolute;
  width: 18.0px;
  height: 21.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Image_4 {
  box-shadow: none;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Image_5 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Image_5 {
  box-shadow: none;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Image_6 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Image_6 {
  box-shadow: none;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Image_7 {
  position: absolute;
  width: 25.999999999999275px;
  height: 28.0px;
  -webkit-transform: rotate(180.0deg);
  -moz-transform: rotate(180.0deg);
  transform: rotate(180.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Image_7 {
  box-shadow: none;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Paragraph_2 {
  box-shadow: none;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 24.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 24.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Rectangle_3 {
  position: absolute;
  width: 320.11614221904864px;
  min-height: 171.6585365853657px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Rectangle_3 {
  box-shadow: none;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Rectangle_3 > .backgroundLayer {
  border-radius: 25px 25px 25px 25px;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FD9727;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Rectangle_3 > .borderLayer {
  border-radius: 25px 25px 25px 25px;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Rectangle_3 > .backgroundLayer {
  border-radius: 25px 25px 25px 25px;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Rectangle_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Image_8 {
  position: absolute;
  width: 106.23668335944626px;
  height: 109.3292682926828px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Image_8 {
  box-shadow: none;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Image_8 > .backgroundLayer {
  border-radius: 53px 53px 53px 53px;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Image_8 > .borderLayer {
  border-radius: 53px 53px 53px 53px;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Image_8 > .backgroundLayer {
  border-radius: 53px 53px 53px 53px;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Paragraph_3 {
  box-shadow: none;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Paragraph_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Paragraph_3 span#rtr-s-Paragraph_3_1 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Paragraph_3 span#rtr-s-Paragraph_3_2 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Paragraph_3 span#rtr-s-Paragraph_3_3 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Image_9 {
  position: absolute;
  width: 18.0px;
  height: 21.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Image_9 {
  box-shadow: none;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Image_10 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Image_10 {
  box-shadow: none;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Image_11 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Image_11 {
  box-shadow: none;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Rectangle_4 {
  position: absolute;
  width: 320.11614221904864px;
  min-height: 171.6585365853657px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Rectangle_4 {
  box-shadow: none;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Rectangle_4 > .backgroundLayer {
  border-radius: 25px 25px 25px 25px;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FD9727;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Rectangle_4 > .borderLayer {
  border-radius: 25px 25px 25px 25px;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Rectangle_4 > .backgroundLayer {
  border-radius: 25px 25px 25px 25px;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Rectangle_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Image_12 {
  position: absolute;
  width: 106.23668335944626px;
  height: 109.3292682926828px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Image_12 {
  box-shadow: none;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Image_12 > .backgroundLayer {
  border-radius: 53px 53px 53px 53px;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Image_12 > .borderLayer {
  border-radius: 53px 53px 53px 53px;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Image_12 > .backgroundLayer {
  border-radius: 53px 53px 53px 53px;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Paragraph_4 {
  box-shadow: none;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Paragraph_4 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Paragraph_4 span#rtr-s-Paragraph_4_1 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Paragraph_4 span#rtr-s-Paragraph_4_2 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Paragraph_4 span#rtr-s-Paragraph_4_3 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Image_13 {
  position: absolute;
  width: 18.0px;
  height: 21.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Image_13 {
  box-shadow: none;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Image_14 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Image_14 {
  box-shadow: none;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Image_15 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Image_15 {
  box-shadow: none;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Image_16 {
  position: absolute;
  width: 47.999999999999886px;
  height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Image_16 {
  box-shadow: none;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Paragraph_5 {
  box-shadow: none;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Paragraph_5 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0323a1ac-5344-46e8-a5db-e738c5c5e81d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}