#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 > #backgroundBox {
  position: absolute;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Image_1 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Image_1 {
  box-shadow: none;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Image_2 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Image_2 {
  box-shadow: none;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Input_1 {
  position: absolute;
  width: 13.60000000000006%;
  height: 39.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Input_1 {
  box-shadow: none;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 13.0pt;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 700;
  min-height: 13.0pt;
  text-shadow: none;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Input_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Rectangle_1 {
  position: absolute;
  width: 375.0000000000002px;
  min-height: 64.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Rectangle_1 {
  box-shadow: none;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #EFEFEF;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Rectangle_2 {
  position: absolute;
  width: 320.11614221904864px;
  min-height: 171.6585365853657px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Rectangle_2 {
  box-shadow: none;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Rectangle_2 > .backgroundLayer {
  border-radius: 25px 25px 25px 25px;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FD9727;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Rectangle_2 > .borderLayer {
  border-radius: 25px 25px 25px 25px;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Rectangle_2 > .backgroundLayer {
  border-radius: 25px 25px 25px 25px;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Rectangle_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Image_3 {
  position: absolute;
  width: 106.23668335944626px;
  height: 109.3292682926828px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Image_3 {
  box-shadow: none;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Image_3 > .backgroundLayer {
  border-radius: 53px 53px 53px 53px;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Image_3 > .borderLayer {
  border-radius: 53px 53px 53px 53px;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Image_3 > .backgroundLayer {
  border-radius: 53px 53px 53px 53px;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_1 {
  box-shadow: none;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_1 span#rtr-s-Paragraph_1_1 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_1 span#rtr-s-Paragraph_1_2 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_1 span#rtr-s-Paragraph_1_3 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Image_4 {
  position: absolute;
  width: 18.0px;
  height: 21.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Image_4 {
  box-shadow: none;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Input_2 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Input_2 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Input_2 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Input_2 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Input_2 {
  position: absolute;
  width: 347.9999999999998px;
  height: 54.00000000000091px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Input_2 {
  box-shadow: none;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Input_2 .valign {
  vertical-align: middle;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Input_2 > .backgroundLayer {
  border-radius: 14px 14px 14px 14px;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Input_2 > .borderLayer {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 5px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
  border-radius: 14px 14px 14px 14px;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Input_2 > .backgroundLayer {
  border-radius: 14px 14px 14px 14px;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Input_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Image_5 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Image_5 {
  box-shadow: none;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Image_6 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Image_6 {
  box-shadow: none;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Image_7 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Image_7 {
  box-shadow: none;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Image_8 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Image_8 {
  box-shadow: none;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Image_9 {
  position: absolute;
  width: 25.999999999999275px;
  height: 28.0px;
  -webkit-transform: rotate(180.0deg);
  -moz-transform: rotate(180.0deg);
  transform: rotate(180.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Image_9 {
  box-shadow: none;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_2 {
  box-shadow: none;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 24.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 24.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_3 {
  position: absolute;
  width: 220.0px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_3 {
  box-shadow: none;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_3 > .backgroundLayer {
  border-radius: 11px 11px 11px 11px;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_3 > .backgroundLayer > .colorLayer {
  background-color: #E5E5EA;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_3 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 11px 11px 11px 11px;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_3 > .backgroundLayer {
  border-radius: 11px 11px 11px 11px;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 5px;
  padding-left: 12px;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Image_10 {
  position: absolute;
  width: 11.0px;
  height: 11.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Image_10 {
  box-shadow: none;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_4 {
  position: absolute;
  width: 220.0px;
  min-height: 74.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_4 {
  box-shadow: none;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_4 > .backgroundLayer {
  border-radius: 11px 11px 11px 11px;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_4 > .backgroundLayer > .colorLayer {
  background-color: #E5E5EA;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_4 > .borderLayer {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-radius: 11px 11px 11px 11px;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_4 > .backgroundLayer {
  border-radius: 11px 11px 11px 11px;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 5px;
  padding-left: 12px;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Image_11 {
  position: absolute;
  width: 11.0px;
  height: 11.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Image_11 {
  box-shadow: none;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_5 {
  position: absolute;
  width: 161.99999999999943px;
  min-height: 31.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_5 {
  box-shadow: none;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_5 > .backgroundLayer {
  border-radius: 8px 8px 8px 8px;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_5 > .backgroundLayer > .colorLayer {
  background-color: #FD9727;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_5 > .borderLayer {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #FD9727;
  border-right-width: 5px;
  border-right-style: solid;
  border-right-color: #FD9727;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #FD9727;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #FD9727;
  border-radius: 8px 8px 8px 8px;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_5 > .backgroundLayer {
  border-radius: 8px 8px 8px 8px;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_5 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_5 span {
  color: #333333;
  text-align: right;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_6 {
  position: absolute;
  width: 161.99999999999932px;
  min-height: 63.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_6 {
  box-shadow: none;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_6 > .backgroundLayer {
  border-radius: 8px 8px 8px 8px;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_6 > .backgroundLayer > .colorLayer {
  background-color: #FD9727;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_6 > .borderLayer {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #FD9727;
  border-right-width: 5px;
  border-right-style: solid;
  border-right-color: #FD9727;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #FD9727;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #FD9727;
  border-radius: 8px 8px 8px 8px;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_6 > .backgroundLayer {
  border-radius: 8px 8px 8px 8px;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_6 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_6 span {
  color: #333333;
  text-align: right;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_7 {
  position: absolute;
  width: 181.73307800292997px;
  min-height: 58.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_7 {
  box-shadow: none;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_7 > .backgroundLayer {
  border-radius: 8px 8px 8px 8px;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_7 > .backgroundLayer > .colorLayer {
  background-color: #FD9727;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_7 > .borderLayer {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #FD9727;
  border-right-width: 5px;
  border-right-style: solid;
  border-right-color: #FD9727;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #FD9727;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #FD9727;
  border-radius: 8px 8px 8px 8px;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_7 > .backgroundLayer {
  border-radius: 8px 8px 8px 8px;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_7 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_7 span {
  color: #333333;
  text-align: right;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-337fc0d0-2459-4fbb-bedb-160b616c17a8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}