#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a > #backgroundBox {
  position: absolute;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Image_1 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Image_1 {
  box-shadow: none;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Image_2 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Image_2 {
  box-shadow: none;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Input_1 {
  position: absolute;
  width: 13.60000000000006%;
  height: 39.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Input_1 {
  box-shadow: none;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 13.0pt;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 700;
  min-height: 13.0pt;
  text-shadow: none;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Input_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Rectangle_1 {
  position: absolute;
  width: 375.0000000000002px;
  min-height: 64.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Rectangle_1 {
  box-shadow: none;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #EFEFEF;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Image_3 {
  position: absolute;
  width: 55.0px;
  height: 60.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Image_3 {
  box-shadow: none;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_1 {
  box-shadow: none;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Image_4 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Image_4 {
  box-shadow: none;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Rectangle_2 {
  position: absolute;
  width: 375.0000000000007px;
  min-height: 66.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Rectangle_2 {
  box-shadow: none;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #shapewrapper-s-Line_1 marker {
  fill: #D9D9D9;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #shapewrapper-s-Line_1 {
  position: absolute;
  width: 375.00000000000097px;
  height: 2.0px;
  filter: none;
  -webkit-transform: rotate(1.7760895859624277E-12deg);
  -moz-transform: rotate(1.7760895859624277E-12deg);
  transform: rotate(1.7760895859624277E-12deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Line_1 {
  width: 375.00000000000097px;
  height: 2.0px;
  stroke-width: 2px;
  stroke: #D9D9D9;
}
_:-ms-fullscreen, :root #s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Line_1 {
  box-shadow: none;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Image_5 {
  position: absolute;
  width: 38.000000000000256px;
  height: 45.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Image_5 {
  box-shadow: none;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Image_6 {
  position: absolute;
  width: 44.00000000000023px;
  height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Image_6 {
  box-shadow: none;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Image_7 {
  position: absolute;
  width: 54.0000000000002px;
  height: 50.99999999999997px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Image_7 {
  box-shadow: none;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Image_8 {
  position: absolute;
  width: 49.000000000000114px;
  height: 49.49999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Image_8 {
  box-shadow: none;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Image_9 {
  position: absolute;
  width: 45.99999999999943px;
  height: 50.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Image_9 {
  box-shadow: none;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #shapewrapper-s-Line_2 marker {
  fill: #FD9727;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #shapewrapper-s-Line_2 {
  position: absolute;
  width: 60.0px;
  height: 2.0px;
  filter: none;
  -webkit-transform: rotate(-1.2319774026394563deg);
  -moz-transform: rotate(-1.2319774026394563deg);
  transform: rotate(-1.2319774026394563deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Line_2 {
  width: 60.0px;
  height: 2.0px;
  stroke-width: 2px;
  stroke: #FD9727;
}
_:-ms-fullscreen, :root #s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Line_2 {
  box-shadow: none;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_2 {
  box-shadow: none;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Image_10 {
  position: absolute;
  width: 37.000000000000455px;
  height: 45.499999999999915px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Image_10 {
  box-shadow: none;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Image_11 {
  position: absolute;
  width: 120.70859872611464px;
  height: 116.0px;
  -webkit-transform: rotate(270.0deg);
  -moz-transform: rotate(270.0deg);
  transform: rotate(270.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Image_11 {
  box-shadow: none;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Image_11 > .backgroundLayer {
  border-radius: 58px 58px 58px 58px;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Image_11 > .borderLayer {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #FD9727;
  border-right-width: 5px;
  border-right-style: solid;
  border-right-color: #FD9727;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #FD9727;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #FD9727;
  border-radius: 58px 58px 58px 58px;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Image_11 > .backgroundLayer {
  border-radius: 58px 58px 58px 58px;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_3 {
  box-shadow: none;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 24.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 24.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_3 span#rtr-s-Paragraph_3_1 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Image_12 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Image_12 {
  box-shadow: none;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_4 {
  box-shadow: none;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_5 {
  box-shadow: none;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Image_13 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Image_13 {
  box-shadow: none;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_6 {
  box-shadow: none;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_7 {
  box-shadow: none;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Image_14 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Image_14 {
  box-shadow: none;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_8 {
  box-shadow: none;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Image_15 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Image_15 {
  box-shadow: none;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_9 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_9 {
  box-shadow: none;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Image_16 {
  position: absolute;
  width: 28.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Image_16 {
  box-shadow: none;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_10 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_10 {
  box-shadow: none;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_10 span {
  color: #FF8500;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #FF8500;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Panel_1 {
  width: 62.0px;
  height: 38.0px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Panel_1 {
  box-shadow: none;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Panel_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Rectangle_3 {
  position: absolute;
  width: 49.0px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}
_:-ms-fullscreen, :root #s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Rectangle_3 {
  box-shadow: none;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Rectangle_3 > .backgroundLayer {
  border-radius: 16px 16px 16px 16px;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #4CD864;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Rectangle_3 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #4CD864;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #4CD864;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #4CD864;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #4CD864;
  border-radius: 16px 16px 16px 16px;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Rectangle_3 > .backgroundLayer {
  border-radius: 16px 16px 16px 16px;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Rectangle_3 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #1174C1;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #shapewrapper-s-Ellipse_1 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #shapewrapper-s-Ellipse_1 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Ellipse_1 {
  width: 30.0px;
  height: 30.0px;
  min-height: 30.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2px;
  stroke: #47CE5F;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Ellipse_1 {
  box-shadow: none;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #shapewrapper-s-Ellipse_1 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #1174C1;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Panel_2 {
  width: 62.0px;
  height: 38.0px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Panel_2 {
  box-shadow: none;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Panel_2 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Rectangle_4 {
  position: absolute;
  width: 49.0px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}
_:-ms-fullscreen, :root #s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Rectangle_4 {
  box-shadow: none;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Rectangle_4 > .backgroundLayer {
  border-radius: 16px 16px 16px 16px;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Rectangle_4 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  border-radius: 16px 16px 16px 16px;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Rectangle_4 > .backgroundLayer {
  border-radius: 16px 16px 16px 16px;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Rectangle_4 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #1174C1;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #shapewrapper-s-Ellipse_2 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #shapewrapper-s-Ellipse_2 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Ellipse_2 {
  width: 30.0px;
  height: 30.0px;
  min-height: 30.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2px;
  stroke: #D9D9D9;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
_:-ms-fullscreen, :root #s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Ellipse_2 {
  box-shadow: none;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #shapewrapper-s-Ellipse_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #shapewrapper-s-Ellipse_2 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #1174C1;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Image_17 {
  position: absolute;
  width: 37.999999999999716px;
  height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Image_17 {
  box-shadow: none;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Image_18 {
  position: absolute;
  width: 37.999999999999716px;
  height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
_:-ms-fullscreen, :root #s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Image_18 {
  box-shadow: none;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_11 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_11 {
  box-shadow: none;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_11 span {
  color: #FF8500;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #FF8500;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_12 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_12 {
  box-shadow: none;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_12 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_13 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
_:-ms-fullscreen, :root #s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_13 {
  box-shadow: none;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_13 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_13 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8cc8a5f0-1fdd-47c8-ab19-62c57f7fe66a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}